#phonebook__form,
#phonebook__result, #phonebook, p {
  padding: 0.5em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1.2em;
  outline: none;
}

p {
  background: #093352;
}

thead > tr > td {
  font-weight: bold;
  background: #07f256;
  color: MidnightBlack;
}

#phonebook {
  background: #9aadad;
}

#phonebook,
p {
  margin: 1em;
  border-radius: 4px;
}

#search > * {
  display: inline-block;
  vertical-align: top;
  width: calc(100%/2 - .200em);
}

#phonebook__form,
#phonebook__result {
  display: block;
  width: 100%;
}

#phonebook__result td {
  width: 1%;
  font-size: 0.5em;
  border: 0.01em solid black;
  text-align: center;
}